<!DOCTYPE html>
<html>

<head>
  <title>Devfolders</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
  <!-- Navigation -->
  <% if user_signed_in? %>
  <header>
    <div class="container">
      <div class="row align-items-center">
        <a href="#" class="logo">
          <div class="col-md-auto">
            <%= link_to('DEVFOLDERS', root_path, class: "logo") %>
          </div>
        </a>
        <div class="col">
          <input type="search" class="search" placeholder="Search...">
        </div>
        <div class="col-md-auto">
          <div class="dropdown">
            <i class="fas fa-user user-account"></i>
            <div class="dropdown-content">
              <%= link_to(edit_user_registration_path) do %>
              <i class="far fa-user-circle"></i> Edit Account
              <% end %>
              <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="fas fa-sign-out-alt"></i> Sign out
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <% end -%>

  <%= yield %>
</body>
</html>