<!DOCTYPE html>
<html>
<head>
  <title>Devfolders</title>
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_pack_tag 'application' %>
</head>

<body>
<% if current_user %>
<header class="mb-5">
<div class="topbar">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-auto"><span class="logo">DEVFOLDERS</span></div>
			<div class="col">
					<input type="text" class="form-control search" placeholder="Search...">
			</div>
			<div class="col-md-auto"><i class="fas fa-user-circle align-middle"></i></div>
		</div>
	</div>
</div>


<div class="secondarybar">
	<div class="container">
		<div class="row align-items-center">
 			<!-- <div class="col-md-auto"><%= image_tag("profile.jpg", :class => "rounded-circle") %></div> -->
 						<div class="col-md-auto"></div>
			<div class="col">
					
			</div>
			<div class="col-md-auto"><i class="fas fa-plus-circle"></i></div>
		</div>
	</div>
</div>
</header>
<% end -%>

  <%= yield %>
</body>
</html>
